<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1.0">
  <title>Vue Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
  <div id="app">
    <nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-primary">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Logo</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form id="search" class="form-inline my-2 my-lg-0">
          <input type="search" placeholder="Search by name, last name, email, ip" v-model="searchQuery">
        </form>
      </div>
    </nav>
    <div class="container card-container">
      <div class="row pager">
        <div class="col-sm-12">
          <a class="btn btn-primary" @click="prev()" style="cursor: pointer;">Previous</a>
          <a class="btn btn-primary" v-for='number in numbers' @click='page(number)' v-bind:class="{'active': (number==counter)}" style="cursor: pointer;">{{number+1}}</a>
          <a class="btn btn-primary" @click="next()" style="cursor: pointer;">Next</a>
          <input v-model="maxResults" placeholder="edit me">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4" v-for='user in cUsers'>
          <div class="card cst-card">
            <img class="card-img-top" :src="user.avatar" alt="Card image cap">
            <div class="card-block">
              <h4 class="card-title">{{user.first_name+' '+user.last_name}}</h4>
              <p class="card-text">
                Email: {{user.email}}
                <br> Gender: {{user.gender}}
                <br> IP Address: {{user.ip_address}}
                <br>
              </p>
              <a class="btn btn-primary" v-on:click="next()">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-primary">
      <a class="navbar-brand" href="#">Fixed bottom</a>
    </nav>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>
